* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-size: 22.4px;
  font-family: "Lato", sans-serif;
}

body {
  height: 3000px;
}

/* START OF NAVIGATION  */

.navigation {
  width: 100%;
  height: 15vh;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: sticky;
  top: 0px;
}

.logo-1 {
  height: 100%;
  margin-left: 1rem;
}

.link-button {
  display: flex;
}

ul.nav-links {
  list-style: none;
  align-items: center;
  display: flex;
}

li a {
  text-decoration: none;
  color: black;
  margin-left: 2rem;
}

li a {
  font-size: 0.75rem;
  font-weight: bold;
}

.cta-1 {
  margin-left: 2rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  border: none;
  border-radius: 100px 100px;
  width: 12rem;
  background-image: linear-gradient(
    rgba(40, 160, 214, 1),
    rgba(1, 131, 244, 1)
  );
}

/* END OF NAVIGATION */

/* START OF NAVIGATION MOBILE */
.icon-hamburger {
  font-size: 2rem;
  display: none;
  color: black;
}

.hamburger-items {
  display: flex;
  position: fixed;
  align-items: center;
  text-decoration: none;
  display: none;
  background-color: white;
  width: 100%;
}

.hamburger-items ul li {
  justify-self: center;
  list-style: none;
  margin: 1rem;
}

/* END OF NAVIGATION MOBILE */

/* START NAVIGATION - MEDIA QUERY */

@media only screen and (max-width: 1200px) {
  .link-button {
    display: none;
  }

  .icon-hamburger {
    display: inline;
  }
}

/* END NAVIGATION - MEDIA QUERY */

/* START OF HERO SECTION */
.hero {
  background-image: url("../img/hero/heroimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template: 100% / 50% 50%;
  grid-template-areas: "quadrant-1 quadrant-2";
}

.hero-text-container {
  grid-area: quadrant-1;
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 100%;
  margin-left: 10%;
}

.hero-text-container h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}

.hero-text-container h1 {
  font-weight: lighter;
  font-size: 2rem;
}

.hero-span-text {
  font-size: 2rem;
  font-weight: 900;
}

.hero-text-container button {
  margin-top: 3rem;
}

button.cta-2 {
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: 900;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #0e3c64;
}

/* END OF HERO SECTION */

/* START OF HERO MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
}

/* END OF HERO MEDIA QUERIES */

/* START OF ABOUT SECTION */

.about-section {
  height: auto;
  padding: 10%;
  background-image: linear-gradient(
    rgba(217, 237, 233, 1),
    rgba(101, 158, 207, 1)
  );
}

.container-flex-allCentered {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
  gap: 1rem 1rem;
  flex-flow: row wrap;
}

.box {
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 3%;
  padding-top: 5%;
  max-width: 15rem;
  height: 20rem;
  background-color: white;
  text-align: center;
  box-shadow: -22px 25px 14px 0px rgba(0, 0, 0, 0.25);
}

.box h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.box p {
  font-size: 1;
  font-style: italic;
}

/* END OF ABOUT SECTION */
