* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-size: 22.4px;
  font-family: "Lato", sans-serif;
}

body {
  height: 3000px;
}

/* START OF NAVIGATION  */

.navigation {
  width: 100%;
  height: 10vh;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo-1 {
  height: 100%;
  margin-left: 1rem;
}

.link-button {
  display: flex;
}

ul.nav-links {
  list-style: none;
  align-items: center;
  display: flex;
}

li a {
  text-decoration: none;
  color: black;
  margin-left: 2rem;
}

li a {
  font-size: 1.125rem;
  font-weight: bold;
}

button.cta-1 {
  margin-left: 2rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #0e3c64;
}

/* END OF NAVIGATION */

/* START OF NAVIGATION MOBILE */
.icon-hamburger {
  font-size: 2rem;
  display: none;
  color: black;
}

.hamburger-items {
  display: none;
}

.hamburger-items ul li {
  margin-top: 1rem;
  padding: 2rem;
}

/* END OF NAVIGATION MOBILE */

/* START NAVIGATION - MEDIA QUERY */

@media only screen and (max-width: 1000px) {
  .link-button {
    display: none;
  }

  .icon-hamburger {
    display: inline;
  }
}

/* END NAVIGATION - MEDIA QUERY */

/* START OF HERO SECTION */
section.hero {
  background-image: url("../img/hero/heroimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template: 100% / 50% 50%;
  grid-template-areas: "quadrant-1 quadrant-2";
}

.hero-text-container {
  grid-area: quadrant-1;
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 100%;
  margin-left: 10%;
}

.hero-text-container h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}

.hero-text-container h1 {
  font-weight: lighter;
  font-size: 2rem;
}

.hero-span-text {
  font-weight: 900;
}

.hero-text-container button {
  margin-top: 3rem;
}
/* START OF HERO SECTION */
